/design/clip.FCStd1
/design/LCDholder.FCStd1
/design/componentHolder.FCStd1
/design/frame.FCStd1
/design/neoPixelScreenHolder.FCStd1
/design/picoBracket.FCStd1
/design/picoBracketSunClock.FCStd1
/design/segmentDisplayHolder.FCStd1
/design/test.FCStd1
/secrets.json
